.headerMain {
  background-color: #1a1a19;
  margin: 0px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  flex-direction: row;
  width: 100%;
  box-shadow: 5px 10px 15px grey;
  position: fixed;
}
.logo {
  display: flex;
  flex-wrap: wrap;
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

a {
  display: inline-block;
  transition: transform 0.5s;
  text-decoration: none;
  color: inherit;
  width: 250px;
  font-size: 20px;
  color: #859f3d;
}
.Flipped {
  transform: rotate(180deg);
}
.btnGroup {
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin: 20px;
  flex-wrap: wrap;
}
button {
  text-decoration: none;
  border: none;
  font-size: 20px;
  padding: 10px;
  border-radius: 10px;
  color: #859f3d;
  transition: linear 0.3s;
  cursor: pointer;
}
button:hover {
  background-color: white;
}

.drawer {
  width: 100px;
}
.drawer-content {
  width: 300px;
  border-radius: 10px;
  padding: 20px;
}

.button-drawer {
  width: 300px;
}
