.main {
  height: 100vh;
  padding: 30px 10px 10px 10px;
  display: flex;
  flex-direction: row;
  gap: 100px;
}
.carousel {
  max-width: 400px;
  z-index: -1;
  border-radius: 10px;
}
.CarouselImage {
  width: 400px;
  border-radius: 10px;
}
.CarouselBlock {
  border-radius: 10px;
}
.main-text {
  font-family: "Nunito", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-size: 20px;
}
.main-right {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.GradientText {
  font-size: 22px;
  font-weight: bold;
  text-transform: uppercase;
  background: linear-gradient(90deg, #170c8c, #b50df8);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-top: 10px;
}
@media (min-width: 1870px) {
  .main {
    display: flex;
    justify-content: center;
  }
}
