.main {
  height: 200vh;
  padding: 30px 10px 10px 10px;
  display: flex;
  flex-direction: row;
  gap: 100px;
}
.carousel {
  max-width: 400px;
  z-index: -1;
  border-radius: 10px;
}
.CarouselImage {
  width: 400px;
  border-radius: 10px;
}
.CarouselBlock {
  border-radius: 10px;
}
.main-text {
  font-family: "Nunito", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-size: 25px;
}

.main-left {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.main-right {
  display: flex;
  flex-direction: column;

  align-items: center;
}
.GradientText {
  font-size: 30px;
  font-weight: bold;
  text-transform: uppercase;
  background: linear-gradient(90deg, #170c8c, #b50df8);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-top: 10px;
}

.main-left-text {
  margin-top: 50px;
  font-family: "Nunito", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-size: 40px;
  /*opacity: 0;
  transform: translateX(-100px);*/
}
.image-right {
  width: 600px;
  height: 560px;
  margin-top: 50px;
  border-radius: 10px;
  z-index: -1;
  /*opacity: 0;
  transform: translateX(100px);*/
}

@media (max-width: 1150px) {
  .main {
    flex-direction: column;
  }
  .main-left {
    flex-direction: row;
    gap: 10px;
  }
  .main-right {
    flex-direction: row;
  }
  .devider {
    display: none;
  }
}

@media (max-width: 950px) {
  .main {
    flex-direction: column;
  }
  .main-left {
    flex-direction: column;
    gap: 10px;
  }
  .main-right {
    flex-direction: column;
  }
}

@media (min-width: 1740px) {
  body {
    display: flex;
    justify-content: center;
    padding: 10px;
  }
  .main-text {
    font-size: 35px;
  }
  .GradientText {
    font-size: 40px;
  }
  .main-left-text {
    width: 1000px;
  }
  .carousel {
    max-width: 600px;
  }
  .CarouselImage {
    width: 600px;
  }
}
